img {
	vertical-align: middle;
}

.right {
    text-align: right;
}

.divcenter {
  margin-left: auto;
  margin-right: auto;
}

.textcenter {
  text-align: center;
}


#baseheader {
	border-top: 1em solid #F4C03E;
    background-color: #FAE3A8;
    margin-bottom: 1em;
    height: 1em;
}

#basefooter {
    font-size: smaller;
    border-bottom: 1px solid #F4C03E;
    background-color: #FAE3A8;
    padding: 1px;
    margin-top: 5px;
    text-align: center;
}

fieldset{
    border: 1px solid #F4C03E;
    /*text-align: center;*/
}

fieldsetss#login{
    width: 30em;
}

label {
    width: 10em;
    float: left;
    text-align: right;
    display: block;
    margin-top: 5px;
}

legend {
    color: #000000;
    background: #FAE3A8;
    border: 1px solid #F4C03E;
    padding: 2px 10px;
} 

.submit input {
    margin-left: 10em;
}

.textinput {
    background: #EFEFEF;
    border: 1px solid #F4C03E;
    margin: 5px;
}

.errorlist {padding-left:2em;margin-bottom:1em;border:2px solid #ddd;}
.errorlist {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}

span.search {
    background: url("/static/icons/small/magnifier.png") no-repeat left center;
    background-repeat: no-repeat;
    display:inline;
}
