body {
    
}

.capsx {
    font-size:1.2em;
    font-variant:small-caps;
    font-weight:bold;
    letter-spacing:1px;
    padding:0 2px;
    text-transform:lowercase;
}

.project.row{
    padding: 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #EEEEEE;
}

.project.name{
    font: 1.4em Verdana, Arial, Helvetica, sans-serif;
    padding-bottom:5px;
}

.project.status{
    font: 1.0em Verdana, Arial, Helvetica, sans-serif;
}

.project.hover{
    background-color: #E5ECF9;
    cursor:pointer;
}

.row.hover{
    background-color: #E5ECF9;
}

img {
    vertical-align: middle;
}

.right {
    text-align: right;
}

.divcenter {
  margin-left: auto;
  margin-right: auto;
}

.textcenter {
  text-align: center;
}

.filter.info {
	color: #666666;
    padding: 5px;
}

#baseheader {
	border-top: 1em solid #F4C03E;
    background-color: #FAE3A8;
    margin-bottom: 1em;
    height: 1em;
}

#basefooter {
    font-size: smaller;
    border-bottom: 1px solid #F4C03E;
    background-color: #FAE3A8;
    padding: 1px;
    margin-top: 5px;
    text-align: center;
}

fieldset{
    border: 1px solid #F4C03E;
    /*text-align: center;*/
}

fieldsets#logins{
    width: 30em;
}


td.center {
    text-align: center;
}

td.right {
    text-align: right;
    padding:2px;
}

legend {
    color: #000000;
    background: #FAE3A8;
    border: 1px solid #F4C03E;
    padding: 3px;
} 

.submit input {
    margin-left: 10em;
}

.textinput {
    background: #EFEFEF;
    border: 1px solid #F4C03E;
    margin: 5px;
}

.textarea {
    background: #EFEFEF;
    border: 1px solid #F4C03E;
    margin: 5px;
}

.errorlist {padding-left:2em;margin-bottom:1em;border:2px solid #ddd;}
.errorlist {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}

span.search {
    background: url("/static/icons/small/magnifier.png") no-repeat left center;
    background-repeat: no-repeat;
    display:inline;
}
