{% extends "base.html" %}
{% load markup %}
{% load boxes %}


{% block title %}Account request{% endblock %}

{% block header %}<h3>Account request</h3>{% endblock %}

{% block mainbody %}

<div class="span-7">&nbsp;</div>

<div class="span-10 last">
   
   <div>
    The DNA region within a gene that is NOT translated into protein is called:
   </div>

   <div>
       <input name="question1" value="?">
   </div>

   <a href="/">home page</a>
</div>

<div class="span-7 last">&nbsp;</div>

{% endblock %}
