{% extends "base.html" %}
{% load markup %} 

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">
    {% for p in projects %}
      <div class="{% cycle 'oddrow' 'evenrow' %}">
        {{p.name}}
      </div>
    {% endfor %}
  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">
    <div>
      <h3 class="caps">Your Account</h3>
      <div class="box">
          <div class="quiet">Logged in as <b>{{user.get_full_name}}</b></div>
          <div class="quiet">You have access to <b>X</b> projects</div>
          <div><a href="/logout">Log out</a></div>
      </div>
    </div>

    <div>
      <h3 class="caps">Filter Projects</h3>
      <div class="box">
          <div class="quiet">Filter projects by showing only 
          the names that match the text in the box below</div>
          <div class="quiet"><input type="text" size="25"></div>
      </div>
    </div>

    {% if user.is_superuser %}
    <div>
      <h3 class="caps">Admin Tools</h3>
      <div class="box">
          <div class="quiet">This account has administration privileges</div>
          <div style="padding-left:20px">
            <div class="quiet"> &bull <a href="#" class="quiet">access user list</a></div>
            <div class="quiet"> &bull <a href="#" class="quiet">access job queue</a></div>
            <div class="quiet"> &bull <a href="#" class="quiet">access server status</a></div>
          </div>
      </div>
    </div>
    {% endif %}

  </div>

{% endblock %}
