{% extends "base.html" %}

{% block title %}GeneTrack Home{% endblock %}

{% block header %}<h1>GeneTrack</h1>{% endblock %}

{% block mainbody %}
  
  <!-- main box left -->
  <div class="span-17 colborder" id="content">
    <h3 class="loud">Recent Published Datasets</h3>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" 

      <div> See all <a href="/todo">published datasets</a></div>
    </p>

    <hr />
    
    <!-- two bottom info boxes -->
    <div class="span-8 colborder">
      <h4 class="prepend-5">About Genetrack</h4>
      <p>
        <b>GeneTrack</b> is a <a href="http://www.python.org/">Python</a> 
        based genomic data visualization framework. It aims to provide generic 
        building blocks for creating sophisticated web based genomic data 
        visualization sites.For more details about the system's capabilities and installation
        see the <a href="http://genetrack.bx.psu.edu">development site</a>
      </p>. 
    </div>

    <div class="span-8 last">
      <h4 class="prepend-5">Get an account</h4>
        <p>
          The current server is free for non-profit users. Use the
          <a href="/todo">request account</a> page to obtain an account. 
          Commercial entities 
          are welcome to run their own instances. Paid support is occasionally 
          available to interested parties. Contact the maintainers listed on the
          <a href="http://genetrack.bx.psu.edu/people.html">contact page</a>
        </p>      
    </div>

  <!-- end main box left -->
  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">

    <div>
      <h3 class="caps">Your Account &bull; <a href="/logout">Log out</a></h3>
      <div class="box" >
        {%if user.is_authenticated %}
          <div class="quiet">Logged in as <b>{{user.get_full_name}}</b></div>
          <div class="quiet">You have access to <b>{{params.project_count}}</b> projects</div>
          <div>
            Home page &bull; 
            <a href="/project/list">Project list</a>
          </div>
        {% else %}
          <div class="quiet">You are not logged in</div>
          <div><a href="/login">Log in now</a></div>
        {% endif %}
      </div>
    </div>


    {% if user.is_superuser %}
    <div>
      <h3 class="caps">Admin Tools</h3>
      <div class="box">
          <div class="quiet">This account has administration privileges</div>
          <div style="padding-left:20px">
            <div class="quiet"> &bull <a href="#" class="quiet">access user list</a></div>
            <div class="quiet"> &bull <a href="#" class="quiet">access job queue</a></div>
            <div class="quiet"> &bull <a href="#" class="quiet">access server status</a></div>
          </div>
      </div>
    </div>
    {% endif %}

    <div>
      <h3 class="caps">Get GeneTrack</h3>
      <div class="box">
        <div class="quiet">GeneTrack runs well on most computers and 
          operating systems. The software is released
          with dual open source licenses of <a href="http://www.opensource.org/licenses/mit-license.php">MIT</a> or 
          <a href="http://www.opensource.org/licenses/gpl-3.0.html">GPL</a>. 
          Contributions are welcome under either of these licenses.
          Find out more on the <a href="http://genetrack.bx.psu.edu">development site.</a>
        </div>
      </div>
    </div>

  <!-- end left sidebar -->
  </div>

{% endblock %}
