{% extends "base.html" %}

{% block title %}GeneTrack{% endblock %}

{% block pageheader %}GeneTrack: Genomic Data Analysis and Visualization{% endblock %}

{% block pagetitle %}Viewing Public Datasets{% endblock %}

{% block body %}

<table class="datatable"  align="center" cellpadding="10" cellspacing="10" width="80%">
    <tr>
        <td>
            <a href="/mapping/">Visualizing sequence reads<a>
        </td>
         <td>
            <img src="/static/icons/visual1.png"> 
        </td>
    </tr>

    <tr>
        <td>
            <a href="/coverage/">Visualizing genomic coverage<a>
        </td>
         <td>
            <img src="/static/icons/coverage1.png"> 
        </td>
    </tr>

</table>
{% endblock %}
