{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block header %}<h1 align="center">Genetrack Login</h1>{% endblock %}

{% block mainbody %}

<form action="/login/" method="POST">

{% if error_message %}
    <div class="span-24 last">
      <div class="span-2">&nbsp;</div>
      <div class="span-20 error textcenter">{{ error_message }}</div>
      <div class="span-2 last">&nbsp;</div>
    </div>
{% endif %}

<!-- left sidebar -->
<div class="span-7">&nbsp;</div>

<div class="span-10 center">
    <fieldset id="login">
      <legend>Please log in</legend>

      <div>
            <table>
                <tr>
                    <td class="right">Email</td>
                    <td><input class="textinput" type="text" name="email" id="id_email" /></td>
                </tr>
                
                <tr>
                    <td class="right">Password</td>
                    <td><input class="textinput" type="password" name="password" id="id_password" /></td>
                </tr>
                
                <tr>
                    <td colspan="2" class="center"><input type="submit" value="Submit" /></td>
                </tr>
                
                <tr>
                    <td colspan="2" class="textcenter">
                        <a href="/password/password_reset/">Forgot Password?</a>
                        &bull; <a href="/">Back to Home</a>
                    </td>
                </tr>

            </table>
        </div>
    </fieldset>
</div>

<!-- right sidebar -->
<div class="span-7 last" >&nbsp;</div>

<script type="text/javascript">
  document.getElementById('id_email').focus()
</script>

</form> 

<!-- 
<table class="datatable" align="center">
    
    {% if error %}
    <tr>
        <td colspan="2" class="error" align="center">
            {{error}}
        </td>
    </tr>
    {% endif %}

    <tr>
        <td align="right">Email: </td>
        <td>{{form.email}}</td>
    </tr>
    <tr>
        <td align="right">Password: </td>
        <td>{{form.password}}</td>
    </tr>
    <tr>
        <td align="center" colspan="2"><input type="submit" name="submit" value="Submit"></td>
    </tr>
     <tr>
        <td align="center" colspan="2" class="smaller">
            <a href="/password/password_reset/">Forgot Password?</a> | 
            <a href="/user/list/">See Userlist</a>
        </td>
    </tr>
</table>
-->

</form>

{% endblock %}

