{% extends "base.html" %}
{% load boxes %}

{% block title %}Project List{% endblock %}

{% block header %}<h2>Project: {{project.name}} <span id="filter-info" /></h2>{% endblock %}

{% block local-headers%}

<script>

    $(document).ready(function(){
        
        filter_rows()

        // makes entire row clickable
        $(".row").click(function(){
            window.location=$(this).find("a").attr("href"); return false;
        });

        // removes messages that may be present
        remove_messages()

    });
</script>

{% endblock %}

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">

      {% for p in projects %}
          <div class="project row quiet">
            <div class="project name">Project: <a href="/project/view/{{p.id}}">{{p.name}}</a></div>
            <div class="project status">Your role {{p.role}} &bull; 0 {{p.size}} datasets.</div>
          </div>
          
      {% endfor %}
      <div>&nbsp;</div>
      
  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">

    {% account_box 'project-view' %}

    {% if project.is_manager %}
    <div>
      <h3 class="caps">Modify Project</h3>
      <div class="box">
          <div class="quiet" align="center">
          <a href="/project/edit/{{project.id}}/">Edit Project</a>
          &bull; 
          <a href="/project/delete/{{project.id}}/">Delete Project</a></div>
      </div>
    </div>
    {% endif %}

    {% filter_box %}
   
    {% admin_box %}

  </div>

{% endblock %}

