{% extends "base.html" %}
{% load markup %}
{% load boxes %}

{% block title %}Project View{% endblock %}

{% block header %}<h2>Project: {{project.name}} <span id="filter-info">&nbsp;</span></h2>{% endblock %}

{% block local-headers%}
<link rel="stylesheet" type="text/css" href="/static/tabs/tabs.css" />

<script>

    $(document).ready(function(){
        
        filter_rows()


        // expand info field
        $("#project-info-link").click(function(){
            $("#project-info").toggle('slow')
        });

        // removes messages that may be present
        remove_messages()

        $("#project-info").hide()

        $("#tabs").tabs();


    });
</script>

{% endblock %}

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">

        <div id="project-info" class="box">{{ project.info|markdown }}</div>

        <div id="tabs"> 
            <ul>
                <li><a href="#tabs-data">Data listing ({{project.data_count}})</a></li> 
                <li><a href="#tabs-show-visuals">Saved Visualizations (0)</a></li> 
                <li><a href="#tabs-create-visuals">Create Visualization</a></li> 
                <li><a href="#tabs-galaxy-tools">Galaxy Tools</a></li> 
            </ul>
 
            <div id="tabs-data"> 
                <!-- Data pane content -->
                <form action="/data/action/{{project.id}}/" method="POST">
                
                {% for data in project.data_list %}
                    <div class="data name row ">
                        <input type="checkbox" name="did" value="{{data.id}}" class="middle">                       
                        <a href="/data/view/{{data.id}}/" class="status {{data.status}}">{{data.name}}</a>
                        {% if data.result_count %}
                            {% sep %} {{data.result_count}} results
                        {% endif %}
                    </div>
                {% endfor %}

                <div align="left" style="padding-top:10px;">
                   
                    Action for the selected datasets:
                    <select name="action">
                        <option value="" selected="yes">------</option>
                        <option value="galaxy">Send to Galaxy</option>
                        <option value="">------</option>
                        <option value="delete">Delete datasets</option>
                    </select>
                    <input name="submit" type="submit" value="submit" />
                </div>

                </form>

            </div>
            <div id="tabs-show-visuals">Show visuals</div>
            <div id="tabs-create-visuals">Create Visuals</div>
            <div id="tabs-galaxy-tools">Using Galaxy tools</div>
        </div>

        <div style="padding-top:10px;">
            <div>Members: {{project.member_names}}</div>
            <div>Managers: {{project.manager_names}}</div>
        </div>


  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">

    {% account_box 'project-view' %}

    {% upload_box %}

    {% project_actions_box %}

    {% filter_box %}

    {% admin_box %}

  </div>

{% endblock %}

