{% extends "base.html" %}

{% block title %}Share Project{% endblock %}

{% block header %}<h2 align="center">Project sharing status</h2>{% endblock %}

{% block local-headers%}

<script>
    
    $(document).ready(function(){

        // highlits data rows on mouse hover
        $(".row").hover( function() {
            $(this).addClass("hover")
        }, function() {
            $(this).removeClass("hover")
        })

        // removes messages that may be present
        remove_messages()

        // searchbox gets focus
        $("#text-input").focus()
    });
</script>

{% endblock %}

{% block mainbody %}

<form action="/project/share/{{project.id}}/" method="get">
    
    <!-- left sidebar -->
    <div class="span-6">&nbsp;</div>

    <div class="span-12">
        
        <div>
            <fieldset>
                <legend>Current members</legend>
                
                <table>
                    <tr>
                        <th align="center">Name</th>
                        <th align="center">Role</th>
                        {% if project.is_manager %}<th align="center">Action</th>{% endif %}
                    </tr>
                    {% for member in params.members %}
                        <tr class="row">
                        <td>{{member.user.get_full_name}}</td>
                        <td>{{member.role}}</td>
                        {% if project.is_manager %}
                        <td><a href="/project/share/{{project.id}}/?action=remove&uid={{member.user.id}}&text={{params.text}}">remove</a></td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                
                <p align="center">
                    <a href="/project/view/{{project.id}}">&lt;&lt; return to project</a>
                </p>
            </fieldset>
        </div>
    
        {% if project.is_manager %}
        <div>
            <fieldset>
                <legend>Add access to users</legend>
                
                {% if params.text %}
                    {% if not params.results %}
                        <h4 align="center" class="notice"> No results for {{params.text}}</h4>
                    {% endif %}
                {% endif %}
                
                
                {% if params.results %}
                <div>
                    <table border="1">
                    <tr>
                        <th align="center">Name</th>
                        <th align="center">Action</th>
                    </tr>
                    {% for user in params.results %}
                        <tr class="row">
                            <td>{{user.get_full_name}}</td>
                            <td>
                                <a href="/project/share/{{project.id}}/?action=addmember&uid={{user.id}}&text={{params.text}}">add as member</a> | 
                                <a href="/project/share/{{project.id}}/?action=addmanager&uid={{user.id}}&text={{params.text}}">add as manager</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
                {% endif %}

                <div align="center">
                    Search user:
                    <input type="text" value="{{params.text}}" name="text" class="textinput" id="text-input"> 
                    <input type="submit" name="submit" value="Submit"/>
                </div>
               
                <div class="quiet" align="center">
                    use * to search for all users
                </div>
                
            </fieldset>
        </div>
        {% endif %}
        

    </div>

    <div class="span-6 last">&nbsp;</div>

</form>
{% endblock %}
