{% extends "base.html" %}
{% load markup %} 
{% block title %}Project List{% endblock %}

{% block header %}<h2>Project List</h2>{% endblock %}

{% block local-headers%}

<script>
    
    // Dialog			
    $('#dialog').dialog({
					autoOpen: false,
					width: 600,
					buttons: {
						"Ok": function() { 
							$(this).dialog("close"); 
						}, 
						"Cancel": function() { 
							$(this).dialog("close"); 
						} 
					}
    });


    function display_projects(){
        // displays project based on the content of the filterbox
        var text = $("#filter-input").val().toLowerCase();
        if (text.length == 0) {
            $(".row").show();
            $('#filter-box').removeClass("notice")
        } else {
            $(".row").hide();
            $('#filter-box').addClass("notice")
            $(".row:contains('" + text +"')").show()
        }
    }

// Dialog Link
				$('##create-project').click(function(){
					$('#dialog').dialog('open');
					return false;
				});


    $.ui.dialog.defaults.bgiframe = true;

    $(document).ready(function(){
        // $("div:contains('John')").css("text-decoration", "underline");
        
        // filter the project rows based on the filter box
        $("#filter-input").keyup( display_projects ); 
        display_projects()
        $("#filter-input").focus()
        
        // light up background 
        $(".row").hover( function() {
                $(this).addClass("hover")
            }, function() {
                $(this).removeClass("hover")
            }
        )

        $(".row").click(function(){
            window.location=$(this).find("a").attr("href"); return false;
        });



    });
</script>

{% endblock %}

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">

      {% for p in projects %}
          <div class="project row quiet">
            <div class="project name">Project: <a href="/project/view/{{p.id}}">{{p.name}}</a></div>
            <div class="project status">Your role {{p.role}} &bull; 0 {{p.size}} datasets.</div>
          </div>
          
      {% endfor %}
      <div>&nbsp;</div>
      
    <!-- ui-dialog -->
    <div id="dialog" title="Dialog Title">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">
    <div>
      <h3 class="caps">Your Account</h3>
      <div class="box">
          <div class="quiet">Logged in as <b>{{user.get_full_name}}</b></div>
          <div class="quiet">You have access to <b>X</b> projects</div>
          <div>
            <a href="/">Home page</a> &bull; 
            <a href="/logout">Log out</a>
          </div>
      </div>
    </div>

<div>
      <h3 class="caps">Create a Project</h3>
      <div class="box">
          <div class="quiet" align="center">
          <img src="/static/icons/small/add.png">&nbsp;<a href="#" id="create-project">
          Add a new project</a></div>
      </div>
    </div>

    <div>
      <h3 class="caps">Filter Projects</h3>
      <div class="box" id="filter-box">
          <div class="quiet">Filter projects by showing only 
          the names that match the text in the box below</div>
          <div class="quiet" >
            <span class="search">
              <input type="text" size="20" id="filter-input" style="margin-left:20px;">
            </span>
          </div>
      </div>
    </div>

    {% if user.is_superuser %}
    <div>
      <h3 class="caps">Admin Tools</h3>
      <div class="box">
          <div class="quiet">This account has administration privileges</div>
          <div style="padding-left:20px">
            <div class="quiet"> &bull <a href="#" class="quiet">access user list</a></div>
            <div class="quiet"> &bull <a href="#" class="quiet">access job queue</a></div>
            <div class="quiet"> &bull <a href="#" class="quiet">access server status</a></div>
          </div>
      </div>
    </div>
    {% endif %}

  </div>

{% endblock %}

