{% extends "base.html" %}
{% load markup %}
{% load boxes %}

{% block title %}Project View{% endblock %}

{% block header %}<h2>Project: {{project.name}} <span id="filter-info" /></h2>{% endblock %}

{% block local-headers%}

<script>

    $(document).ready(function(){
        
        filter_rows()

        // makes entire row clickable
        $(".row").click(function(){
            window.location=$(this).find("a").attr("href"); return false;
        });

        // expand info field
        $("#project-info-link").click(function(){
            $("#project-info").toggle('slow')
        });

        // removes messages that may be present
        remove_messages()

        $("#project-info").hide()

    });
</script>

{% endblock %}

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">

        <div id="project-info" class="box">{{ project.info|markdown }}</div>
        AAAA &nbsp;
  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">

    {% account_box 'project-view' %}

    {% project_actions_box %}
   
    {% filter_box %}

    {% admin_box %}

  </div>

{% endblock %}

