{% extends "base.html" %}
{% load boxes %}

{% block title %}Project List{% endblock %}

{% block header %}<h2>Project list <span id="filter-info"></span></h2>{% endblock %}

{% block local-headers%}

<script>
    
    $(document).ready(function(){

        // run the project filter on page load
        filter_rows()

        // makes entire row clickable
        $(".row").click(function(){
            window.location=$(this).find("a").attr("href"); return false;
        });

        // removes messages that may be present
        remove_messages()
    });
</script>

{% endblock %}

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">
    
        {% if projects %}
            {% for p in projects %}
                  <div class="project row quiet">
                    <div class="project name">Project: <a href="/project/view/{{p.id}}">{{p.name}}</a></div>
                    <div class="project status">Your role: {{p.role}} &bull; {{p.data_count}} datasets.</div>
                  </div>                  
            {% endfor %}
        {% else %}
            <div class="notice">You have no projects! {% sep %} <a href="/project/edit/new/" id="create-project">Create New Project</a> 
            </div>
        {% endif %}
      <div>&nbsp;</div>
      
  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">
    
    {% account_box 'project-list' %}

    <div>
      <h3 class="caps">CREATE PROJECT</h3>
      <div class="box">
          <div class="quiet" align="center">
          <a href="/project/edit/new/" id="create-project">New Project</a></div>
      </div>
    </div>

    {% filter_box %}

    {% admin_box %}

  </div>

{% endblock %}

