{% extends "base.html" %}
{% load boxes %}

{% block title %}{{title}}{% endblock %}

{% block header %}<h2 align="center">{{param.title}}</h2>{% endblock %}

{% block local-headers%}

<script>
    
    $(document).ready(function(){

        // makes entire row clickable
        $("#add-button").click(function(){

            var json = $("#json")
            var currval = json.val()
            var newval = currval + "row=1; color=RED; glyph=AUTOMATIC; data=45\n"

            var lines = currval.split("\n").length

            //debugger
            newval = currval + '\n' + lines
            json.val( newval )

        });

    });
</script>

{% endblock %}

{% block mainbody %}

<form method="post" action="/track/edit/{{param.pid}}/{{param.tid}}/" id="mainform">

    <!-- left sidebar -->
    <div class="span-2">&nbsp;</div>

    <div class="span-20">
        <div id="test"> VALUE</div>

        <fieldset id="login" class="box">
            <legend>Track details</legend>
            
            <div>
                {% if param.data %}

                <div class="capsx">NAME</div>
                {{form.name.errors }}
                <div class="pad10">{{form.name}}</div>
                
                <div class="capsx">DATA</div>
                <div class="pad10">
                    
                    <select name="did">
                        {% for data in param.data %}
                            <option value="{{data.id}}">{{data.name}} (id={{data.id}})</option>
                        {% endfor %}
                    </select>
                    <input type="button" name="add" id="add-button" value="Add"/> {% sep %} click to add the selected data to the tracks
                </div>

                <div class="capsx">TRACKS</div>
                {{form.text.errors }}
                <div class="pad10">{{form.text}}</div>

                <div class="pad10">
                   Help on <a href="http://genetrack.bx.psu.edu/trackoptions.html">track options</a>
                </div>

                <div class="pad10">
                    <input type="button" name="add" value="Preview Track"/> 
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <input type="submit" name="submit" value="{{param.btn_name}}"/> &nbsp;&nbsp;|&nbsp;&nbsp;
                    <input type="button" name="cancel" value="Project View" onclick='javascript:window.location="/project/view/{{param.pid}}/"'/>
                </div>
                {% else %}
                    <div class="notice" align="center">
                        <h3>
                            This project does not contain data that can be visualized!
                        <h3>
                        <h3>See more information on the <a href="http://genetrack.bx.psu.edu/">GeneTrack site</a></h3>
                        <h4>Back to <a href="/project/view/{{param.pid}}/">Project View</a></h4>
                    </div>
                {% endif %}
            </div>

        </fieldset>
    </div>

    <div class="span-2 last">&nbsp;</div>

</form>

{% endblock %}
