{% extends "base.html" %}
{% load boxes %}

{% block title %}{{title}}{% endblock %}

{% block header %}
    <h2 align="center">{{param.title}}</h2>
{% endblock %}

{% block local-headers%}

<script>
    
    $(document).ready(function(){

        // makes entire row clickable
        $("#add-button").click(function(){

            var json = $("#json")
            var currval = json.val()
            var data_id = $("#data_id option:selected").val() 
            var newval = currval + "color=RED; style=BAR; data=" + data_id + ";\n"

            var lines = currval.split("\n").length

            //debugger
            //newval = currval + '\n' + lines
            json.val( newval )

        });

        $("#help-panel").hide()
        $("#help-link").click(function(){
            $("#help-panel").toggle('fast')
        });
        
        {% if param.imgname %}
            // scrolls to the image after a preview
            window.location.hash='imagename'
        {% endif %}
    });
</script>

{% endblock %}

{% block mainbody %}

<form method="post" action="/track/edit/{{param.pid}}/{{param.tid}}/" id="mainform">

    <!-- left sidebar -->
    <div class="span-1">&nbsp;</div>

    <div class="span-22">

        <fieldset id="login" class="box">
            <legend>Track details</legend>
            
            <div>
                {% if param.data %}

                <div class="capsx">NAME</div>
                {{form.name.errors }}
                <div class="pad10">{{form.name}}</div>
                
                <div class="capsx">DATA</div>
                <div class="pad10">
                    <select id="data_id">
                        {% for data in param.data %}
                            <option value="{{data.id}}">{{data.name}} ({{data.id}})</option>
                        {% endfor %}
                    </select>
                    <input type="button" name="add" id="add-button" value="Add"/> {% sep %} click to add the selected data to the tracks
                </div>

                <div class="capsx">TRACKS</div>
                {{form.text.errors }}
                <div class="pad10">{{form.text}}</div>

                <div class="pad10">
                   <div>
                        Help on <a id="help-link" href="#">track options</a>
                   </div>
                   <div id="help-panel">
                        <blockquote>
                        <pre>
                    --- Required attributes ---

    color -> RED, GREEN, BLUE, WHITE, BLACK, PURPLE, ORANGE ... or a hexcolor #FAFACC
    style -> AUTO, ORF, INTERVAL, ARROW, BOOKMARK
    data  -> <number> the id of the data (filled in when clicking Add)

                    --- Optional attributes ---

    label   -> text (the label for the track, left)
    scale   -> scaling factor
    offset  -> number multiple tracks may be shifted vertically
    height  -> number the height of the track in pixels
    
    Lines starting with the # symbol are comments.
    </pre>
                        </blockquote>
                        <h5>
                            Options are explained on the <a href="http://genetrack.bx.psu.edu/trackoptions.html">track options</a> page</h5>
                    </div>
                </div>

                <div class="pad10">
                    <input type="submit" name="preview" value="Preview Track"/> &nbsp;&nbsp;|&nbsp;&nbsp;
                    
                    <input type="submit" name="submit" value="Save Track"/> &nbsp;&nbsp;|&nbsp;&nbsp;
                    
                    <input type="button" name="cancel" value="Project View" onclick='javascript:window.location="/project/view/{{param.pid}}/"'/>
                </div>
                {% else %}
                    <div class="notice" align="center">
                        <h3>
                            This project does not contain data that can be visualized!
                        <h3>
                        <h3>See more information on the <a href="http://genetrack.bx.psu.edu/">GeneTrack site</a></h3>
                        <h4>Back to <a href="/project/view/{{param.pid}}/">Project View</a></h4>
                    </div>
                {% endif %}
            </div>

        </fieldset>
        <div>
        {% if param.imgname %}
            <a name="imagename"></a>
            <img src="/static/cache/{{param.imgname}}"
            <div align="center">Track preview</div>
        {% endif %}
        </div>
    </div>

    <div class="span-1 last">&nbsp;</div>

</form>

{% endblock %}
