{% extends "base.html" %}

{% block title %}LionDB Password Reset Confirmation{% endblock %}

{% block pageheader %}<a href="/accounts/login/">Login</a> &gt; Password Reset Confirmation{% endblock %}

{% block pagetitle %}
    
    {% if validlink %}
        Change Your Password
    {% else %}
        Password reset unsuccessful
    {% endif %}

{% endblock %}


{% block body %}

{% if validlink %}

    <table width="60%" align="center" class="datatable" cellpadding="5">
        <tr><td>
            
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            <form action="" method="post">
                
                {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
                <p class="aligned wide">
                    <label for="id_new_password1">New password:</label>{{ form.new_password1 }}
                </p>

                {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
                <p class="aligned wide">
                    <label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}
                </p>
                
                <p><input type="submit" value="Change my password" /></p>
            </form>
        </td><tr>
    </table>

   

{% else %}
    
     <table width="60%" align="center" class="datatable" cellpadding="5">
        <tr><td>
            The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
        </td><tr>
    </table>

{% endif %}

{% endblock %}