{% extends "base.html" %}

{% block title %}Email sent{% endblock %}

{% block header %}<h1 align="center">Email Successful</h1>{% endblock %}

{% block mainbody %}
  <div class="span-6">&nbsp;</div>
  <div class="span-12 success">
    <div>We've e-mailed you instructions for setting your password to the 
    e-mail address you submitted. You should be receiving it shortly.</div>
    <div>In the mean time you may want to return to the <a href="/">Home page</a></div>   
  </div>
  <div class="span-6 last">&nbsp;</div>
{% endblock %}

