{% extends "base.html" %}

{% block title %}LionDB Password Reset Done{% endblock %}

{% block pageheader %}<a href="/accounts/login/">User Login</a> &gt; Email Successful{% endblock %}

{% block pagetitle %}Password Email Sent{% endblock %}

{% block body %}

    <table width="60%" align="center" class="datatable" cellpadding="5">
        <tr><td>
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
        </td><tr>
    </table>

{% endblock %}

