{% extends "base.html" %}

{% block title %}LionDB Password Reset{% endblock %}

{% block pageheader %}<a href="/accounts/login/">Login</a> &gt; Password Reset{% endblock %}


{% block pagetitle %}Initiate Password Reset{% endblock %}

{% block body %}

    <table width="60%" align="center" class="datatable" cellpadding="5">
        <tr><td>
        <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

        <form action="" method="post">
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
            <p><label for="id_email">E-mail address:</label> {{ form.email }} 
            <input type="submit" value="Reset my password" /></p>
        </form>
        </td><tr>
    </table>
{% endblock %}
