
{% extends "base.html" %}

{% block title %}LionDB Password Reset{% endblock %}

{% block pageheader %}<a href="/accounts/login/">Login</a> &gt; Password Reset Success{% endblock %}


{% block pagetitle %}
    <div align="center" class="page_title">Password Reset Complete</div>
{% endblock %}

{% block body %}

    <table width="60%" align="center" class="datatable" cellpadding="5">
        <tr><td align="center">
        <p>Your password has been set.  You may go ahead and log in now</p>
        </td><tr>
    </table>

{% endblock %}

