{% extends "base.html" %}
{% load markup %}
{% load boxes %}
{% block title %}Simple Browser{% endblock %}

{% block header %}<h2 align="center">{{data.name}} back {% sep %} <a href="/data/details/{{data.id}}/">back</a></h2>{% endblock %}

{% block mainbody %}

<form action="/data/browser/{{data.id}}/" method="post" id="mainform">

    <div class="span-1">&nbsp;</div>

    <div class="span-22">
        <!-- main body -->
        
        <div align="center">
            Chrom: {{forms.search.chrom}}&nbsp;
            Locus: {{forms.search.feature}}&nbsp;
            Zoom:  {{forms.search.zoom_value}}&nbsp;
            Plot:  {{forms.search.strand}}&nbsp;
            <input type="submit" id="id_submit_display" name="submit" value="Display!">
        </div>

        <div>
            <img src="/static/cache/{{params.imgname}}" />
        </div>

    </div>

    <div class="span-1 last">&nbsp;</div>

</form>

{% endblock %}
