{% extends "base.html" %}
{% load markup %}
{% load boxes %}
{% block title %}Simple Browser{% endblock %}

{% block header %}<div align="center">Viewing: <b>{{data.name}}</b> {% sep %} <a href="/data/details/{{data.id}}/">back</a><div>{% endblock %}

{% block local-headers%}
<link rel="stylesheet" type="text/css" href="/static/tabs/tabs.css" />
<script type="text/javascript" src="/static/browser.js"></script>
<script>
   $(document).ready(function(){
        var navopt = "navopt"
        var prefs = $.cookie(navopt)

        // expand info field
        $("#more").click(function(){
            $("#nav-bar").toggle('slow')
            $("#viewport-bar").toggle('slow')

            // store status in the cookie
            if (prefs)  {
                $.cookie(navopt, null);
            } else {
               $.cookie(navopt, 'open');
            }

        });

        // removes messages that may be present
        remove_messages()

        if (! prefs)  {
            $("#nav-bar").hide()
            $("#viewport-bar").hide()
        }

        // hide loading marker
        $('#loading').hide()
        
        var image = $("#image")
        setup_image(image)

        $(image).draggable({
            'axis':'x',
            'drag':function(e, ui){       
                //set_offset(); 
            },
            'stop':function(e, ui){
                //zoomarrow.fadeOut("medium");
            },
            'start':function(e, ui){
                //zoomarrow.show();
            }
        });
    });
</script>
{% endblock %}

{% block mainbody %}

<form action="/data/browser/{{data.id}}/" method="post" id="mainform">

<div class="container showgrid">

<div class="span-24 last">
   <div align="center" class="formbar">
        <a href="#" id="more">More</a> &bull;
        Chrom: {{forms.search.chrom}}&nbsp;
        Locus: {{forms.search.feature}}&nbsp;
        Zoom:  {{forms.search.zoom_value}}&nbsp;
        Plot:  {{forms.search.strand}}&nbsp;
        <input type="submit" id="id_submit_display" name="submit" value="Display!">
    </div>
</div>

<div class="span-24 last" id="nav-bar">
    <div align="center" style="padding: 10px;">
        {{forms.navbar.move_left}} &nbsp;&nbsp;
        {{forms.navbar.zoom_in}} &nbsp;&nbsp;
        {{forms.navbar.zoom_out}} &nbsp;&nbsp;
        {{forms.navbar.move_right}}
    </div>
</div>

<div class="span-24 last" id="viewport-bar">
    <div align="center" style="padding: 10px;">
        Viewport width: {{forms.search.viewport_width}} &nbsp;&nbsp;
        Image width: {{forms.search.image_width}} &nbsp;&nbsp;
    </div>
    <div align="center" class="smaller">
        <b>Use the mouse:</b> drag left/right to move, up/down to zoom
    </div>
</div>

<div class="span-24 last">
    <div id="viewport" style="width:{{params.viewport_width}}px; height: {{params.image_height}}px;">

        <!-- main browser image -->
        <img id="image" src="/static/cache/{{params.image_name}}" width="{{params.actual_size}}" pixelscale="{{params.pixelscale}}"/>
        
        <!-- big loading symbol -->
        <div id="loading" style="position: absolute; left:100px; top:100px;"><img src="/static/icons/big-loader.gif" /></div>

    </div>
</div>

<div class="span-11">
    
    <fieldset>
        <legend>Smoothing</legend>
        
        <div>
            <label>Use: </label>{{forms.fitting.use_smoothing}}
            <label>Sigma: </label>{{forms.fitting.sigma}}
            <label>Function: </label>{{forms.fitting.smoothing_func}}
        </div>

    </fieldset>

</div>

<div class="span-13 last">
    
     <fieldset>
        <legend>Peak predictions</legend>
        
        <div>
            <div>
                <label>Use: </label>{{forms.peaks.use_predictor}}
                <label>Width: </label>{{forms.peaks.feature_width}}
                <label>Function: </label>{{forms.peaks.pred_func}}
                <label>Threshold: </label>{{forms.peaks.minimum_peak}}
            </div>
        </div>
        <div></div>

    </fieldset>
</div>

<div class="span-11" >
    <div align="center">
        <input type="submit" id="id_submit_display" name="submit" value="Show smoothing">
        &bull;
        <input type="submit" id="id_submit_display" name="submit" value="Genomewide smoothing">
    </div>
</div>
<div class="span-13 last">
    <div align="center">
        <input type="submit" id="id_submit_display" name="submit" value="Show peaks">
        &bull;
        <input type="submit" id="id_submit_display" name="submit" value="Genomewide peaks">
    </div>
</div>



</div>
</form>


{% endblock %}
