{% extends "base.html" %}
{% load markup %}
{% load boxes %}
{% block title %}Simple Browser{% endblock %}


{% block local-headers%}
<link rel="stylesheet" type="text/css" href="/static/tabs/tabs.css" />
<script type="text/javascript" src="/static/browser.js"></script>
<script>

// hides all markers
function hideall () {
    $("#loading").hide()
    $("#zoom-in").hide()
    $("#zoom-out").hide()
}

$(document).ready(function(){
    var navopt = "navopt"
    var prefs = $.cookie(navopt)
         
    // action for the extenda navbar
    $("#more").click( function(){
        $("#nav-bar").toggle('slow')
        $("#viewport-bar").toggle('slow')

        // store navbar status in the cookie
        if (prefs)  { 
            $.cookie(navopt, null);
        } else {
            $.cookie(navopt, 'open');
        }

    });

    // close the navbar if the status is not open
    if (! prefs)  {
        $("#nav-bar").hide()
        $("#viewport-bar").hide()
    }

    var image   = $("#image")
    var offset  = center_image(image)
    var feature = parseInt($("#feature").val())

    //$("#info1").text(offset)
    hideall()

    image.draggable({
       'axis':'x',
       'drag':function(e, ui){       
           set_feature(image, offset, feature)
       },
       'stop':function(e, ui){
           //zoomarrow.fadeOut("medium");
       },
       'start':function(e, ui){
           //zoomarrow.show();
       }
    });
   
    var last_ypos  = 0
    var ypos_width = 75
    var visible    = 0

    // bind drag as zooming
    image.bind('mousedown', function(e){
        visible = 1
        last_ypos = e.pageY
    });

    image.bind('mousemove', function(e){
        
        if (visible==0) {
            return
        }
        
        var diff = last_ypos - e.pageY
        
        if (diff > ypos_width){
            $('#zoom-in').show();
        } else if (diff < - ypos_width) {
            $('#zoom-out').show();
        } else {
            hideall()
        }

    });

    image.bind('mouseup', function(e){
        visible = 0
        var diff = last_ypos - e.pageY
        if (diff > ypos_width){
            $('#id_zoom_out').click();
        } else if (diff < -ypos_width) {
            $('#id_zoom_in').click();
        } else {
            hideall()
        }
       
    });
});

</script>
{% endblock %}

{% block header %}
<div align="center">
    Viewing: <b>{{data.name}}</b> {% sep %} <a href="/data/details/{{data.id}}/">back</a>
</div>
{% endblock %}


{% block mainbody %}

<form action="/data/browser/{{data.id}}/" method="post" id="mainform">

<div class="container">

<div class="span-24 last">
   <div align="center" class="formbar">
        <a href="javascript:void(0);" id="more">More</a> &bull;
        Chrom: {{forms.search.chrom}}&nbsp;
        Locus: {{forms.search.feature}}&nbsp;
        Zoom:  {{forms.search.zoom_value}}&nbsp;
        Plot:  {{forms.search.strand}}&nbsp;
        <input type="submit" id="id_submit_display" name="submit" value="Display!">
    </div>
</div>

<div class="span-24 last" id="nav-bar">
    <div align="center" style="padding: 10px;">
        {{forms.navbar.move_left}} &nbsp;&nbsp;
        {{forms.navbar.zoom_in}} &nbsp;&nbsp;
        {{forms.navbar.zoom_out}} &nbsp;&nbsp;
        {{forms.navbar.move_right}}
    </div>
</div>

<div class="span-24 last" id="viewport-bar">
    <div align="center" style="padding: 10px;">
        Viewport width: {{forms.search.viewport_width}} &nbsp;&nbsp;
        Image width: {{forms.search.image_width}} &nbsp;&nbsp;
    </div>
    <div align="center" class="smaller">
        <b>Use the mouse:</b> drag left/right to move, up/down to zoom
    </div>
</div>

<div class="span-24 last">
    
    <!-- <div id="info1">info1</div>
    <div id="info2">info2</div>
    <div id="info3">info3</div> 
    <div><a href="/static/browser.js">browser.js</a></div> -->
    
    
    <div id="viewport" style="width:{{params.viewport_width}}px; height: {{params.image_height}}px;">
        <input type="hidden" id="feature-store" value="0"/>
        <!-- main browser image -->
        <img id="image" src="/static/cache/{{params.image_name}}" width="{{params.actual_size}}" pixelscale="{{params.pixelscale}}"/>
        
        <!-- marker symbols -->
        <div id="loading"   style="display:none; position: absolute; left:425px; top:150px;"><img src="/static/icons/big-loader.gif" /></div>
        <div id="zoom-in"   style="display:none; position: absolute; left:425px; top:150px;"><img src="/static/icons/2uparrow.png" /></div>
        <div id="zoom-out"  style="display:none; position: absolute; left:425px; top:150px;"><img src="/static/icons/2downarrow.png" /></div>


    </div>
</div>

<div class="span-11">
    
    <fieldset>
        <legend>Smoothing</legend>
        
        <div>
            <label>Use: </label>{{forms.fitting.use_smoothing}}
            <label>Sigma: </label>{{forms.fitting.sigma}}
            <label>Function: </label>{{forms.fitting.smoothing_func}}
        </div>

    </fieldset>

</div>

<div class="span-13 last">
    
     <fieldset>
        <legend>Peak predictions</legend>
        
        <div>
            <div>
                <label>Use: </label>{{forms.peaks.use_predictor}}
                <label>Width: </label>{{forms.peaks.feature_width}}
                <label>Function: </label>{{forms.peaks.pred_func}}
                <label>Threshold: </label>{{forms.peaks.minimum_peak}}
            </div>
        </div>
        <div></div>

    </fieldset>
</div>

<div class="span-11" >
    <div align="center">
        <input type="submit" id="id_submit_display" name="submit" value="Show smoothing">
        &bull;
        <input type="submit" id="id_submit_display" name="submit" value="Genomewide smoothing">
    </div>
</div>
<div class="span-13 last">
    <div align="center">
        <input type="submit" id="id_submit_display" name="submit" value="Show peaks">
        &bull;
        <input type="submit" id="id_submit_display" name="submit" value="Genomewide peaks">
    </div>
</div>



</div>
</form>


{% endblock %}
