{% extends "base.html" %}

{% block title %}Upload Data{% endblock %}

{% block header %}<h2 align="center">Uploading into: {{project.name}}</h2>{% endblock %}

{% block mainbody %}
<div id="content">
<div class="span-3">&nbsp;</div>
<div class="span-18">

         <div align="center">
             
             <applet name="JUpload" code="wjhk.jupload2.JUploadApplet"
             archive="/static/jar/wjhk.jupload.jar" width="650" 
             height="300" name="LionDB JUpload" alt="LionDB Upload" 
             mayscript="True">

                <param name="formdata" value="action">
                <param name="postURL" value="/data/upload/process/{{project.id}}/">
                <param name="afterUploadURL" value="/project/view/{{project.id}}/">
                <param name="showLogWindow" value="False">
                <param name="debugLevel" value="0">
                Your browser does not support applets. Or you have disabled applet in your options.
                To use this applet, please install the newest version of Sun's java. You can get it from <a href="http://www.java.com/">java.com</a>

            </applet>
            
            
            <form name="action">
                <!-- sentinel value to detect incoming upload-->
                <input type="hidden" value="yes" name="upload">
            </form>

        </div>
        <div class="smaller" align="center" style="padding:5px;">
            Note: for large files (over 300Mb) the uploader 
            may take a minute or so to start sending the data.
        </div>
        
        <div align="center" cellpadding="5" style="padding:5px;">
            <a href="/project/view/{{project.id}}/">&lt;&lt; back to project view</a>
        </div>

</div>
<div class="span-3 last">&nbsp;</div>

</div>

{% endblock %}
