{% extends "base.html" %}

{% block title %}Password Reset Confirmation{% endblock %}

{% block header %}<h1 align="center">Password Reset Confirmation{% endblock %}

{% block mainbody %}

{% if validlink %}
    
  <div class="span-7">&nbsp;</div>

  <div class="span-10">
    <form action="" method="post">

    <fieldset>
      
      <legend>Please set your new passwords</legend>
        <div class="notice">
          Please enter your new password twice so we can verify you typed it in correctly
        </div>

        <p>
          {% if form.new_password1.errors %}
            {{ form.new_password1.errors }}
          {% endif %}
          <label for="id_new_password1">Password</label>
          <input type="password" name="new_password1" class="textinput" id="id_new_password1">
        </p>

        <p>
          {% if form.new_password2.errors %}
            {{ form.new_password2.errors }}
          {% endif %}
          <label for="id_new_password2">Reenter</label>
          <input type="password" name="new_password2" class="textinput" id="id_new_password2">
        </p>
        <p class="submit"><input type="submit" value="Change!" /></p>
        <div class="textcenter"><a href="/">&lt;&lt; back to home</a></div>
    
    </fieldset>

    </form>
   </div>

   <div class="span-7 last" >&nbsp;</div>

{% else %}
    
    <div class="span-7">&nbsp;</div>

    <div class="span-10 error">
      <div>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</div>
      <div>&nbsp;</div>
      <div>Back to the <a href="/">home page</a></div>
    </div>
  <div class="span-7 last" >&nbsp;</div>


{% endif %}

{% endblock %}