{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block header %}<h1 align="center">GeneTrack Password Reset</h1>{% endblock %}

{% block mainbody %}

<form action="" method="post">
<div class="span-6">&nbsp;</div>
<div class="span-12">
        
        <div>
          <fieldset>
            <legend>Please set your new passwords</legend>
            <div class="notice">
            Have you forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
            </div>
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
           
            <label for="id_email">Email: </label>
            <input type="text" name="email" id="email" class="textinput">
            <input type="submit" value="Reset my password" />
          </fieldset>
        </div>
    </div>
<div class="span-6 last">&nbsp;</div>
</form>
{% endblock %}
