{% load boxes %}
<div>
    <h3 class="capsx">YOUR ACCOUNT
        {%if user.is_authenticated %}
           &nbsp;{% sep %}&nbsp;<a href="/logout">LOG OUT</a>
        {% endif %}
    </h3>
    {%if user.is_authenticated %}
        <div class="box" >
            <div class="quiet">Logged in as <b>{{user.get_full_name}}</b></div>
                
                {% ifequal navloc 'home-view' %}
                    <div class="quiet">You have access to <b>{{params.project_count}}</b> projects</div>
                {% endifequal %}

                {% ifequal navloc 'project-list' %}
                    <div class="quiet">You have access to <b>{{params.project_count}}</b> projects</div>
                {% endifequal %}

                {% ifequal navloc 'project-view' %}
                    <div class="quiet">Your role: <b>{{project.role}}</b></div>
                    <div class="quiet">Project contains <b>{{project.data_count}}</b> datasets</div>
                {% endifequal %}

                               
                {% ifequal navloc 'data-view' %}
                   <div></div>
                {% endifequal %}

            <div align="center" style="padding-top:5px;">

                {% ifequal navloc 'home-view' %}
                    Home page {% sep %} <a href="/project/list">Project list</a>
                {% endifequal %} 
                
                {% ifequal navloc 'project-list' %}
                    <a href="/">Home page</a> {% sep %} Project list
                {% endifequal %} 

                {% ifequal navloc 'project-view' %}
                    <a href="/">Home page</a> {% sep %} <a href="/project/list">Project list</a>
                {% endifequal %} 

                {% ifequal navloc 'data-view' %}
                    <a href="/project/view/{{data.project.id}}/">Project view</a>
                {% endifequal %} 
                
            </div>
        </div>
    {% else %}
        <div class="box" >
            <div class="quiet">You are not logged in</div>
            <div align="center"><a href="/login">Log in now</a></div>
        </div>
    {% endif %}
</div>