{% extends "base.html" %}
{% load i18n %}

{% block title %}GeneTrack Admin{% endblock %}

{% block header %}<h1 align="center">GeneTrack Admin Login</h1>{% endblock %}

{% block mainbody %}

{% if error_message %}
    <div class="span-24 last">
      <div class="span-2">&nbsp;</div>
      <div class="span-20 error textcenter">{{ error_message }}</div>
      <div class="span-2 last">&nbsp;</div>
    </div>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">

<!-- left sidebar -->
<div class="span-7">&nbsp;</div>

<div class="span-10 center">
    <fieldset id="login">
      <legend>Please Log in</legend>
      <div class="textcenter notice">Note: admin login requires username!</a></div>
      <p><label for="name">Username</label> <input class="textinput" type="text" name="username" id="id_username"" /></p>
      <p><label for="e-mail">Password</label> <input class="textinput" type="password" name="password" id="id_password" /></p>
      <p class="submit"><input type="submit" value="Submit" /></p>
      <div class="textcenter"><a href="/">&lt;&lt; back to home</a></div>
    </fieldset>
</div>

<!-- right sidebar -->
<div class="span-7 last" >&nbsp;</div>

<input type="hidden" name="this_is_the_login_form" value="1" />

<script type="text/javascript">
  document.getElementById('id_username').focus()
</script>

</form> 
<!-- 
<table class="datatable" align="center">
    
    {% if error_message %}
    <tr>
        <td colspan="2" class="error" align="center">
            {{ error_message }}
        </td>
    </tr>
    {% endif %}

    <tr>
        <td align="right">Username: </td>
        <td><input type="text" name="username" id="id_username" /></td>
    </tr>
    <tr>
        <td align="right">Password: </td>
        <td><input type="password" name="password" id="id_password" /></td>
    </tr>
    <tr>
        <td align="center" colspan="2"><input type="submit" name="submit" value="Submit"></td>
    </tr>
</table>
<input type="hidden" name="this_is_the_login_form" value="1" />
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
-->

{% endblock %}
