{% extends "base.html" %}
{% load markup %}
{% load boxes %}

{% block title %}Data View{% endblock %}

{% block header %}<h2>Data: {{data.name}}</h2>{% endblock %}

{% block local-headers%}
<link rel="stylesheet" type="text/css" href="/static/tabs/tabs.css" />

<script>

    $(document).ready(function(){
        // removes messages that may be present
        remove_messages()

    });
</script>

{% endblock %}

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">
    
        <div id="data-info" class="pad10 box">
            <div class="pad10">{{data.info|markdown }}</div>

        
            <div><a href="/data/download/{{data.id}}/">Download</a>
            {% sep %}
            ID = {{data.id}} {% sep %} Status = {{data.status}} 
            {% sep %} Size = {{data.get_size}} 
            {% sep %}
            Created by {{data.owner.get_full_name}} on {{ data.tstamp}}
            </div>
        </div>

        <!-- Datafile results -->            

        <div class="span-17 last">
        {% if param.file_list %}
            <!-- two boxes left and right -->
            <h3>Analysis Files</h3>
            <div class="span-8 colborder">
                  {% result_list param.file_list 'box1' %}
            </div>
            <div class="span-8 last">
                {% result_list param.file_list 'box2' %}
            </div>
        {% endif %}
        </div>
        
        <div class="span-17 last">

        <!-- Image results -->
        {% if param.image_list %}
            <!-- two boxes left and right -->
            <h3>Analysis Images</h3>
            <div class="span-8 colborder">
                  {% result_list param.image_list 'box1' %}                  
            </div>
            <div class="span-8 last">
                {% result_list param.image_list 'box2' %}                  
            </div>
        {% endif %}
        </div>
    

  </div>

  
  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">

    {% account_box 'data-view' %}

    {% data_actions_box %}

    {% admin_box %}

  </div>

{% endblock %}

