{% extends "base.html" %}
{% load markup %}
{% load boxes %}

{% block title %}Data View{% endblock %}

{% block header %}<h2>Data: {{data.name}}</h2>{% endblock %}

{% block local-headers%}
<link rel="stylesheet" type="text/css" href="/static/tabs/tabs.css" />

<script>

    $(document).ready(function(){
        //$("#data-info").hide()
    });
</script>

{% endblock %}

{% block mainbody %}

  <!-- main box left -->
  <div class="span-17 colborder" id="content">
    
        <div id="data-info" class="box">{{data.info|markdown }}</div>

        <div style="padding-bottom:10px;">
            ID = {{data.id}} {% sep %} Status = {{data.status}} 
            {% sep %} Size = {{data.get_size}} 
            {% sep %}
            Created by {{data.owner.get_full_name}} on {{ data.tstamp}}
        </div>

        {% if param.flist1 %}
        <div class="span-8 colborder">
              <h3>Files</h3>
              <div>
                {% for result in param.flist1 %}
                    <div>{{result.name}}</div>
                {% endfor %}
              </div>. 
        </div>

        
        <div class="span-8 last">
            <h4 class="prepend-5">&nbsp;</h4>
            <div>
                {% for result in param.flist2 %}
                <div>{{result.name}}</div>
                {% endfor %}
            </div>.     
        </div>
        {% endif %}

        <!-- Image results -->

        {% if param.ilist1 %}
        <div class="span-8 colborder">
              <h3>Charts</h3>
              <div>
                {% for result in param.ilist1 %}
                    <div>{{result.name}}</div>
                {% endfor %}
              </div>. 
        </div>

        
        <div class="span-8 last">
            <h4 class="prepend-5">&nbsp;</h4>
            <div>
                {% for result in param.ilist2 %}
                <div>{{result.name}}</div>
                {% endfor %}
            </div>.     
        </div>
        {% endif %}

  </div>

  <!-- left sidebar -->
  <div class="span-6 last" id="sidebar">

    {% account_box 'data-view' %}

    {% data_actions_box %}

    {% admin_box %}

  </div>

{% endblock %}

