{% load boxes %}
<div>
    {%if user.is_authenticated %}
        <h3 class="caps">Your Account &bull; <a href="/logout">Log out</a></h3>
        <div class="box" >
            <div class="quiet">Logged in as <b>{{user.get_full_name}}</b></div>
            {% ifequal navloc 'project-view' %}
                <div class="quiet">Your role <b>{{project.role}}</b></div>
                <div class="quiet">Project contains <b>{{project.data_count}}</b> datasets</div>
            {% else %}
                <div class="quiet">You have access to <b>{{params.project_count}}</b> projects</div>
            {% endifequal %}
            <div>
                {% ifequal navloc 'home' %}
                    Home page
                {% else %}
                    <a href="/">Home page</a>
                {% endifequal %} 
                
                {% sep %}

                {% ifequal navloc 'project-list' %}
                    Project list
                {% else %}
                    <a href="/project/list">Project list</a>
                {% endifequal %} 

                
            </div>
        </div>
    {% else %}
        <h3 class="caps">Your Account</h3>
        <div class="box" >
            <div class="quiet">You are not logged in</div>
            <div><a href="/login">Log in now</a></div>
        </div>
    {% endif %}
</div>