{% load boxes %}

<div>
    <h3 class="caps">DATA ACTIONS</h3>
    <div class="box">
        <div class="quiet" align="center">
            
            <a href="/data/download/{{data.id}}/">Download</a> {% sep %}

            {% if user.is_private %}                
                <a href="/data/edit/{{data.id}}/">Edit</a>
                {% sep %}
                <a href="/data/result/upload/{{data.id}}/">Add results</a>
            {% else %}
                Edit {% sep %} Add results
            {% endif %}

        </div>
    </div>
</div>
