{% load boxes %}

<div>
    <h3 class="caps">PROJECT ACTIONS</h3>
    <div class="box">
        <div class="quiet" align="center">
            <a href="#" id="project-info-link">Info</a> {% sep %}
            <a href="/project/share/{{project.id}}/">Sharing</a>{% sep %} 
            {% if project.is_manager %}
                <a href="/project/edit/{{project.id}}/">Edit</a>{% sep %} 
                <a href="/project/delete/{{project.id}}/">Delete</a>
            {% else %}
                Edit {% sep %} Delete
            {% endif %}
        </div>
    </div>
</div>
